@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");

/* LIGHT THEME */
:root {
  --bg-main: #35393b;
  --shadow-light: #2d3032;
  --shadow-dark: #3d4244;

  --text-primary: #e8e8e8;
  --text-secondary: #cacaca;
  --text-tertiary: beige;
  --text-disabled: #989898;

  /* --bg-main: #e8e8e8;
  --shadow-light: #d5d5d5;
  --shadow-dark: #fbfbfb;

  --text-primary: rgba(34, 48, 74, 1);
  --text-secondary: rgba(34, 48, 74, 1);
  --text-tertiary: rgba(34, 48, 74, 1); */

  --text-shadow-primary: rgba(137, 148, 165, 0.7);
}

/* DARK THEME VARIABLES */
.dark {
  --bg-main: #35393b;
  --shadow-light: #2d3032;
  --shadow-dark: #3d4244;

  --text-primary: #e8e8e8;
  --text-secondary: #cacaca;
  --text-tertiary: beige;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-main);
  font-family: "Montserrat", sans-serif;
  color: var(--text-primary);
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
}

.card-elevated {
  box-shadow: 2px 2px 6px var(--shadow-light), -2px -2px 6px var(--shadow-dark);
}

.card-sunken {
  box-shadow: 5px 5px 10px inset var(--shadow-light),
    -5px -5px 10px inset var(--shadow-dark);
}

.text-elevated {
  text-shadow: 1px 1px 10px var(--text-shadow-primary);
}

h1 {
  font-size: 4rem;
  font-weight: 900;
}

h2 {
  font-size: 2rem;
  display: inline;
  font-weight: 700;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 300;
}

p {
  font-size: 0.66rem;
  font-weight: 200;
  color: var(--text-secondary);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Montserrat", sans-serif;
  color: var(--text-disabled);
  font-weight: 300;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--text-disabled);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: var(--text-disabled);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

section {
  margin-left: 20rem;
  margin-right: 20rem;
}

@media screen and (max-width: 1500px) {
  section {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}

@media screen and (max-width: 600px) {
  section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .flex-item-right,
  .flex-item-left {
    flex: 100%;
  }
}

.container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-header-text {
  display: inline;
  text-align: center;
}

.section-header-underline {
  margin-top: 10px;
  width: 6rem;
  align-self: center;
  display: inline-block;
  height: 0.1rem;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
  filter: blur(1px);
}

.bg-green-grad {
  background: linear-gradient(135.18deg, #44d07c 1.56%, #006227 100%);
}

.bg-blue-grad {
  background: linear-gradient(135.18deg, #449ed0 1.56%, #005062 100%);
}

.bg-red-grad {
  background: linear-gradient(135.18deg, #f26666 1.56%, #992626 100%);
}

.bg-yellow-grad {
  background: linear-gradient(135.18deg, #d0ba44 1.56%, #624c00 100%);
}

.bg-purple-grad {
  background: linear-gradient(135.18deg, #aa5da6 1.56%, #51084d 100%);
}

.bg-grey-grad {
  background: linear-gradient(324.26deg, #35393b 0%, #5a5a5a 101.29%);
}

.inline {
  display: inline;
}

/* NAVBAR */

#logo {
  margin-top: -6px;
  margin-left: 40px;
  height: fit-content;
}

.nav-bar {
  max-height: 48px;
  display: absolute;
}

.nav-menu {
  float: right;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-menu-item {
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 600;
}

.nav-menu-item > a {
  color: var(--text-disabled);
}

.menu-selected > a {
  color: var(--text-primary);
}

.nav-bar .icon {
  float: left;
  display: none;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar .icon:hover {
  background-color: #ddd;
  color: black;
}

.nav-bar .icon.active {
  background-color: #4caf50;
  color: white;
}

.nav-bar .icon {
  display: none;
}

@media screen and (max-width: 1250px) {
  .nav-bar li:not(:first-child) {
    display: none;
  }
  .nav-bar .icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1250px) {
  .nav-bar .responsive {
    flex-direction: column;
    position: relative;
  }
  .nav-bar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav-bar .responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

/* BIO SECTION */

#bio {
  margin-top: 12rem;
  margin-bottom: 6rem;
}

.bio-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.bio-image-container {
  height: 400px;
  display: inline-block;
  width: 400px;
  border-radius: 50%;
}

.bio-image-container img {
  height: 380px;
  width: 380px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
  border-radius: 50%;
}

.bio-name {
  margin-left: 126px;
  display: inline-block;
}

.bio-description {
  margin-top: 4rem;
}

@media screen and (max-width: 1250px) {
  #bio {
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .bio-container {
    flex-direction: column;
  }
  .bio-name {
    margin-left: 0;
    margin-top: 3rem;
    text-align: center;
  }
  .bio-image-container {
    height: 300px;
    display: inline-block;
    width: 300px;
    border-radius: 50%;
  }

  .bio-image-container img {
    height: 280px;
    width: 280px;
    object-fit: cover;
    border-radius: 50%;
  }
}

/* SKILLS SECTION */
#skills {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}

.skills-sectors {
  display: flex;
  width: 100%;
}

.skills-sector-container {
  margin-top: 2rem;
}

.skills-sector-container:nth-child(even) {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.skills-sector-heading {
  margin-bottom: 1rem;
}

.progressbar-container {
  display: flex;
  margin-top: 0.7rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 0.3rem;
  width: auto;
  height: 0.8rem;
}

.progressbar-container:nth-child(even) {
  width: 90%;
}

.skills-sector-container:nth-child(even) .progressbar {
  align-self: flex-end;
}

.progressbar {
  border-radius: 10px;
  height: 0.75rem;
}

.progress-native-android {
  width: 70%;
}

.progress-web-app {
  width: 55%;
}

.progress-designing {
  width: 40%;
}

.progress-project-management {
  width: 30%;
}

.skills-languages {
  margin-top: 1.5rem;
  width: 100%;
}

.skills-languages-heading {
  margin-bottom: 1rem;
}

.skills-languages-container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.skills-languages-row-lg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1250px) {
  .skills-languages-container {
    flex-direction: column;
  }
  .skills-languages-row-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .skills-languages-row-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

.skills-languages-card {
  padding: 1rem;
  margin: 2rem 1rem 2rem 1rem;
  width: auto;
  border-radius: 12px;
}

.skills-languages-card p {
  margin-top: 1.5rem;
}

.skills-tools {
  margin-top: 1.5rem;
  width: 100%;
}

.skills-tools-heading {
  margin-bottom: 1rem;
}

.skills-tools-container {
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tool-name {
  align-self: center;
  margin: 2.5rem 2.5rem 3rem 3rem;
}

/* WORKS */
.my-works-container {
  padding: 2rem;
  border-radius: 10px;
  display: grid;
  width: 100%;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.work-container {
  display: grid;
  width: 100%;
  gap: 1rem;
}
.work-container-left {
  grid-template-columns: 5rem 1fr;
}

.work-container-right {
  grid-template-columns: 1fr 5rem;
}

.my-work-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.works-heading {
  margin-bottom: 1.25rem;
}

.work-container:nth-child(odd) .my-work-info-container {
  align-items: flex-start;
  margin-left: 1rem;
  text-align: start;
}

.work-container:nth-child(even) .my-work-info-container {
  align-items: flex-end;
  margin-right: 1rem;
  text-align: end;
}

.work-experience {
  margin-top: 1.5rem;
  width: 100%;
}

.work-experience-heading {
  margin-bottom: 1rem;
}

.my-works-img {
  height: 5rem;
  width: 5rem;
  background-color: ivory;
  border-radius: 10px;
}

.work-experience-container {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 10px;
  width: 100%;
}

.work-experience-row-lg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1250px) {
  .work-experience-container {
    flex-direction: column;
  }
  .work-experience-row-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .work-experience-row-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

.work-experience-card {
  padding: 1rem;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 12px;
}

.work-experience-card p {
  margin-top: 1.5rem;
}

/* ACHIEVEMENTS */
#achievements {
  margin-top: 3rem;
}

.achievements-container {
  border-radius: 10px;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.achievements-row-lg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.achievements-card {
  padding: 1rem;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 12px;
}

.achievements-card p {
  margin-top: 1.5rem;
}

@media screen and (max-width: 1250px) {
  .achievements-row-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .achievements-row-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* EDUCATION */

#education {
  margin-top: 3rem;
}

.education-container {
  border-radius: 10px;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

.education-row-lg {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

.education-card {
  padding: 1rem;
  margin: 2rem 1rem 2rem 1rem;
  border-radius: 12px;
}

.education-card p {
  margin-top: 1.5rem;
}

@media screen and (max-width: 1250px) {
  .education-row-lg {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .education-row-lg {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* CONTACT */
#contact {
  margin-top: 3rem;
}

.contact-container {
  display: flex;
}

.contact-form-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.contact-form-container form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-input {
  border-radius: 8px;
  margin-bottom: 0.75rem;
  padding: 1rem;
  width: 100%;
  background-color: var(--bg-main);
  border: none;
}

.form-button-container {
  align-self: center;
  width: 60%;
  border-radius: 10px;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.form-input-button {
  border-radius: 10px;
  color: var(--text-primary);
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.15rem;
  padding: 0.75rem;
  border: none;
}

/* FOOTER */
footer {
  margin-top: 6rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
}
.footer-title {
  font-weight: 300;
  font-size: 1.3rem;
}
.footer-follow {
  font-weight: 700;
  margin-top: 3rem;
  font-size: 0.8rem;
}

.social-icons-container {
  display: flex;
}

.icon-container-rounded-square {
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  margin: 1rem;
}

.icon-container-rounded-square img {
  color: var(--text-primary);
  width: 20px;
  margin: 0.5rem 0.7rem 0.5rem 0.7rem;
  height: 20px;
}

.icon-container-rounded-square:hover,
.icon-container-rounded-square:active {
  box-shadow: 5px 5px 10px inset var(--shadow-light),
    -5px -5px 10px inset var(--shadow-dark);
}
